.full-body-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

#google-c {
    color: #4285F4;
}

#google-s {
    color: #DB4437;
}

#google-4 {
    color: #F4B400;
}

#google-3 {
    color: #4285F4;
}

#google-0-1 {
    color: #0F9D58;
}

#google-0-2 {
    color: #DB4437;
}

.google-colors {
    display: flex;
    align-items: center;
    font-size: 48px;
    font-family: 'Open Sans', sans-serif;
}

.google-colors h1 {
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box {
    border-radius: 50px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding: 12px;
    width: 100%;
}

.input-box img {
    height: 20px;
    width: 20px;
}

.top-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input {
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

.answer-box {
    width: 100%;
    margin-top: 50px;
}

.episode-title {
    font-family: 'Kanit', sans-serif;
}

.episode-desc {
    font-family: 'Montserrat', sans-serif;
}

.ingredient {
    text-align: center;
    background-color: inherit;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid black;
    margin: auto;
    margin-top: 10px;
    cursor: pointer;
}

.likes {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.submit {
    padding: 15px;
    background-color: orange;
    border: none
}

.submit:hover {
    background-color: darkorange;
}

.column {
    width: 30%;
    margin: 50px;
    justify-content: center;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

#response {
    width: 800px;
}

img {
    width: 150px;
    height: 150px;
    margin-top: 20px;
    margin-right: 30px;
}

.drink {
    padding: 10px;
}

.pop-button {
    margin-right: 20px;
    margin-left: 20px;
    padding: 15px;
    font-size: 30px;
    font-weight:lighter;
    cursor: pointer;
    border-radius: 10px;
    height: 80%
}

.pop-button:hover {
    background-color: aliceblue;
}

.pop-div {
    justify-content: left;
    height: min-content;
}

.popularity {
    font-size: 30px;
    font-weight: bold;
    margin-top: 0;
}