<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1>DrinkGPT</h1>
            </div>
            <h1 id="prompt">Choose some ingredients you like:</h1>
            <div class="likes" id="user_likes">
            </div>
            <div class="input-box" onclick="sendFocus()">
                <img src="{{ url_for('static', filename='images/mag.png') }}" />
                <input placeholder="Search for an ingredient" id="filter-text-val" onkeyup="filterText()">
            </div>
            <div>
                <button type="submit" id="nextButton" class="ingredient submit" onclick="sendUserLikes()">Next</button>
            </div>
            <div id="submitButton">
            </div>
        </div>
        <div id="responseHeader">
        </div>
        <div id="responses">
        </div>
        <div id="answer-box">

        </div>
    </div>

    <script>

        let likes = []
        let dislikes = []
        let step2 = false;

        function answerBoxTemplate(drink, ingredients, method) {
            return `<div class=''>
                <h3 class='episode-title'>${drink}</h3>
                <p class='episode-desc'>${ingredients}</p>
                <p class='episode-desc'>${method}</p>
            </div>`
        }

        function answerBoxButton(ingredient) {
            return `<button class="ingredient" type="button">${ingredient}</button>`
        }

        function appendIngredient(ingredient) {
            if (step2) {
                if (!dislikes.includes(ingredient)) {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = userLikesTemplate(ingredient)
                    document.getElementById("user_likes").appendChild(tempDiv)
                    dislikes.push(ingredient)
                }

            }
            else if (!likes.includes(ingredient)) {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = userLikesTemplate(ingredient)
                document.getElementById("user_likes").appendChild(tempDiv)
                likes.push(ingredient)
            }
        }

        function userLikesTemplate(ingredient) {
            return `<p class='episode-desc ingredient'>${ingredient}</p>`
        }

        function sendFocus() {
            document.getElementById('filter-text-val').focus()
        }

        function filterText() {
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxButton(row.ingredient)
                    tempDiv.onclick = function () {
                        appendIngredient(row.ingredient);
                    };
                    document.getElementById("answer-box").appendChild(tempDiv)
                }));

        }

        function sendUserLikes() {
            jsonResponse = []
            console.log('test')
            let i = 0
            document.getElementById("responses").innerHTML = '<h2>Here are some drinks you might like!</h2>'
            fetch("/likes?" + new URLSearchParams({ likes: likes }).toString(), { method: "POST" })
            .then((response) => response.json())
            .then((data) => {data.forEach(drinkDict => {
                let drink = data[i]['drink']
                let ingredients = data[i]['ingredients']
                let method = data[i]['method']
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(drink, ingredients, method)
                document.getElementById("responses").appendChild(tempDiv)
                i++
                })})
            // .then((response) => response.text())
            // .then((text) => {
            //     document.getElementById("responses").innerHTML = text;
            // });
            // document.getElementById("prompt").innerHTML = 'Now choose ingredients you dislike:';
            // document.getElementById("user_likes").innerHTML = ''
            // document.getElementById("nextButton").remove();
            // document.getElementById("submitButton").innerHTML = '<button type="submit" id="submitButton" class="ingredient submit" onclick = "sendUserDislikes()" > Submit</button >'
            // step2 = true;
        }

        function sendUserDislikes() {
            fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => console.log(data)
                );
            document.getElementById("user_likes").innerHTML = ''
        }

        function sendResults() {
            fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => console.log(data)
                );
            
        }

    </script>
</body>