<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <h1>DrinkGPT</h1>
            </div>
            <div id="inputcols" class="row">
                <div class="column">
                    <h1 id="prompt">Choose some ingredients you like:</h1>
                    <div class="likes" id="user_likes">
                    </div>
                    <div class="input-box" onclick="sendFocus(filter-text-val)">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Search for an ingredient" id="filter-text-val"
                            onkeyup="filterText('filter-text-val', 'answer-box')">
                    </div>
                    <div id="submitButton">
                    </div>
                    <div class="answer-box" id="answer-box">

                    </div>
                </div>
                <div class="column">
                    <h1 id="prompt">Choose some ingredients you dislike:</h1>
                    <div class="likes" id="user_dislikes">
                    </div>
                    <div class="input-box" onclick="sendFocus('filter-text-val-2')">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input placeholder="Search for an ingredient" id="filter-text-val-2"
                            onkeyup="filterText('filter-text-val-2', 'answer-box-2')">
                    </div>
                    <div id="submitButton">
                    </div>

                    <div class="answer-box" id="answer-box-2">

                    </div>

                </div>
                <div style="margin-top: 75px">
                    <button type="submit" id="nextButton" class="ingredient submit"
                        onclick="sendResults()">Submit</button>
                </div>

            </div>

            <div id="response">
                <div id="responseHeader">
                </div>
                <div class="answer-box" id="responses">
                </div>
            </div>

        </div>
    </div>
    <!-- <div id="responseHeader">
    </div>
    <div class="answer-box" id="responses">
    </div>
    <div class="answer-box" id="answer-box">

    </div>
    </div> -->

    <script>

        let likes = []
        let dislikes = []
        let step2 = false;

        function answerBoxTemplate(drink, ingredients, method) {
            return `<div class=''>
                <h3 class='episode-title'>${drink}</h3>
                <p class='episode-desc'>${ingredients}</p>
                <p class='episode-desc'>${method}</p>
            </div>`
        }

        function answerBoxButton(ingredient) {
            return `<button class="ingredient" type="button">${ingredient}</button>`
        }

        function appendIngredient(ingredient, id) {
            if (id == 'filter-text-val-2') {
                if (!dislikes.includes(ingredient)) {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = userDislikesTemplate(ingredient)
                    document.getElementById("user_dislikes").appendChild(tempDiv)
                    dislikes.push(ingredient)
                }
            }
            else if (!likes.includes(ingredient)) {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = userLikesTemplate(ingredient)
                document.getElementById("user_likes").appendChild(tempDiv)
                likes.push(ingredient)
            }
        }

        function userLikesTemplate(ingredient) {
            return `<p class='episode-desc ingredient' style="border:2px solid green">${ingredient}</p>`
        }

        function userDislikesTemplate(ingredient) {
            return `<p class='episode-desc ingredient' style="border:2px solid red">${ingredient}</p>`
        }

        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function filterText(id, answer_box) {
            document.getElementById(answer_box).innerHTML = ""
            console.log(document.getElementById(id).value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById(id).value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxButton(row.ingredient)
                    tempDiv.onclick = function () {
                        appendIngredient(row.ingredient, id);
                    };
                    document.getElementById(answer_box).appendChild(tempDiv)
                }));

        }

        function sendUserLikes(likes_box) {
            jsonResponse = []
            console.log('test')
            let i = 0
            fetch("/likes?" + new URLSearchParams({ likes: likes }).toString(), { method: "POST" })
                // .then((response) => response.json())
                // .then((data) => {data.forEach(drinkDict => {
                //     let drink = data[i]['drink']
                //     let ingredients = data[i]['ingredients']
                //     let method = data[i]['method']
                //     let tempDiv = document.createElement("div")
                //     tempDiv.innerHTML = answerBoxTemplate(drink, ingredients, method)
                //     document.getElementById("responses").appendChild(tempDiv)
                //     i++
                //     })})
                .then((response) => response.json())
                .then((data) => {
                    //document.getElementById("responses").innerHTML = text;
                });
        }

        function sendUserDislikes() {
            jsonResponse = []
            let i = 0
            document.getElementById("responses").innerHTML = '<h2>Here are some drinks you might like!</h2>'
            fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes }).toString(), { method: "POST" })
                // .then((response) => response.json())
                // .then((data) => console.log(data)
                // );
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                    data.forEach(drinkDict => {
                        let drink = data[i]['drink']
                        let ingredients = data[i]['ingredients']
                        let method = data[i]['method']
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(drink, ingredients, method)
                        document.getElementById("responses").appendChild(tempDiv)
                        i++
                    })
                })
            document.getElementById("user_likes").innerHTML = ''
            document.getElementById("answer-box").innerHTML = ''
        }

        function sendResults() {
            jsonResponse = []
            let i = 0
            document.getElementById("responses").innerHTML = '<h2>Here are some drinks you might like!</h2>'
            fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes, likes: likes }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    console.log(data)
                    data.forEach(drinkDict => {
                        let drink = data[i]['drink']
                        let ingredients = data[i]['ingredients']
                        let method = data[i]['method']
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(drink, ingredients, method)
                        document.getElementById("responses").appendChild(tempDiv)
                        i++
                    })
                })
            document.getElementById("inputcols").remove();
            document.getElementById("user_likes").innerHTML = ''
            document.getElementById("answer-box").innerHTML = ''

        }

    </script>
</body>