<!doctype html>
<title>Drink GPT</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap"
    rel="stylesheet">
<script src="https://kit.fontawesome.com/9c4fddd5f0.js" crossorigin="anonymous"></script>

<body>
    <div class="full-body-container">
        <div class="top-text">
            <div class="google-colors">
                <!-- <h1>DrinkGPT</h1> -->
                <img style="margin-top:50px;"
                    src="{{ url_for('static', filename='images/drinkgpt-removebg-preview.png') }}" />
            </div>
            <div id="inputcols" class="row">
                <div class="column">
                    <h1 id="prompt">Choose some ingredients you like:</h1>
                    <div class="input-box" onclick="sendFocus(likes_search)">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input style="background-color:inherit" placeholder="Search for an ingredient" id="likes_search"
                            onkeyup="filterText('likes_search', 'answer-box')">
                    </div>
                    <div class="likes" id="user_likes">
                    </div>
                    <div class="answer-box" id="answer-box">

                    </div>
                </div>
                <div class="column">
                    <h1 id="prompt">Choose some ingredients you dislike:</h1>

                    <div class="input-box" onclick="sendFocus('dislikes_search')">
                        <img src="{{ url_for('static', filename='images/mag.png') }}" />
                        <input style="background-color:inherit" placeholder="Search for an ingredient"
                            id="dislikes_search" onkeyup="filterText('dislikes_search', 'answer-box-2')">
                    </div>

                    <div class="likes" id="user_dislikes">
                    </div>

                    <div class="answer-box" id="answer-box-2">

                    </div>

                </div>
                <div style="margin-top: 105px">
                    <button type="submit" id="nextButton" class="ingredient submit"
                        onclick="renderResultsByRel()">Submit</button>
                </div>

            </div>

            <div id="response">
                <div id="responseHeader"></div>
                <div id="filter"></div>

                <div class="answer-box" id="responses">
                </div>

            </div>

        </div>
    </div>
    <!-- <div id="responseHeader">
    </div>
    <div class="answer-box" id="responses">
    </div>
    <div class="answer-box" id="answer-box">

    </div>
    </div> -->

    <script>

        let likes = []
        let dislikes = []
        let step2 = false;

        function answerBoxTemplate(drink_id, drink, ingredients, method, sim) {
            return `<div class='drink'>
                        <div class="result row">
                            <div>
                                <h3 class='episode-title'>${drink}</h3>
                                <p class='sim'>${(sim * 100).toFixed(2)}% Relevant</p>
                                <p class='episode-desc'>${ingredients}</p>
                                <p class='episode-desc'>${method}</p>
                                <div class="pop-div row">
                                    <button id="${drink_id}_like" class="pop-button" onclick="add_like(${drink_id})"><i class="fa-solid fa-arrow-up"></i></button>
                                    <p id='${drink_id}' class="popularity" >${'test'}</p>
                                    <button id="${drink_id}_dislike" class="pop-button" onClick="add_dislike(${drink_id})"><i class="fa-solid fa-arrow-down"></i></button>
                                    <button class="show-reviews" style="margin-left: 25px" id="${drink_id}-show-review" onClick="showReviews('${drink_id}')">Show Reviews</button>
                                </div>
                            </div>
                            <img class="drink-img" src="/static/images/${drink_id}.jpg">
                        </div>
                        <div id="${drink_id}_reviews" class="reviews-box"></div>
     
                    </div>`
        }

        function answerBoxButton(ingredient) {
            return `<button class="ingredient" type="button">${ingredient}</button>`
        }

        function appendIngredient(ingredient, id) {
            if (id == 'dislikes_search') {
                if (!dislikes.includes(ingredient)) {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = userDislikesTemplate(ingredient)
                    document.getElementById("user_dislikes").appendChild(tempDiv)
                    dislikes.push(ingredient);
                }
            }
            else if (!likes.includes(ingredient)) {
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = userLikesTemplate(ingredient)
                document.getElementById("user_likes").appendChild(tempDiv)
                likes.push(ingredient);
            }
            document.getElementById(id).value = "";
        }

        function userLikesTemplate(ingredient) {
            return `<button class='episode-desc ingredient' style='border:2px solid green' onclick='removeLike(this)'>${ingredient}</button>`
        }

        function userDislikesTemplate(ingredient) {
            return `<p class='episode-desc ingredient' style='border:2px solid red' onclick='removeDislike(this)'>${ingredient}</p>`
        }

        function removeLike(element) {
            var ingredient = element.innerHTML;
            var index = likes.indexOf(ingredient);
            if (index > -1) {
                likes.splice(index, 1);
            }

            element.remove();
        }

        function removeDislike(element) {
            var ingredient = element.innerHTML;
            var index = dislikes.indexOf(ingredient);
            if (index > -1) {
                dislikes.splice(index, 1);
            }
            element.remove();
        }



        function sendFocus(id) {
            document.getElementById(id).focus()
        }

        function filterText(id, answer_box) {
            document.getElementById(answer_box).innerHTML = ""
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById(id).value }).toString())
                .then((response) => response.json())
                .then((data) => data.forEach(row => {
                    let tempDiv = document.createElement("div")
                    tempDiv.innerHTML = answerBoxButton(row.ingredient)
                    tempDiv.onclick = function () {
                        appendIngredient(row.ingredient, id);
                    };
                    document.getElementById(answer_box).appendChild(tempDiv)
                }));

        }

        //
        async function renderResultsByRel() {
            jsonResponse = []
            let i = 0
            let drink_id_list = []
            document.getElementById("responseHeader").innerHTML = '<h2>Here are some drinks you might like!</h2>'
            document.getElementById("filter").innerHTML = `
                <label for="filter">Sort by:</label>

                <select name="filter" id="filter" onChange="changeSort(this)">
                    <option value="relevance">Relevance</option>
                    <option value="popularity">Popularity</option>
                </select>`
            fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes, likes: likes }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(async (drinkDict) => {
                        let drink_id = data[i]['drink_id']
                        drink_id_list.push(drink_id)
                        let drink = data[i]['drink']
                        let ingredients = data[i]['ingredients']
                        let method = data[i]['method']
                        let sim = data[i]['similarity'];
                        let tempDiv = document.createElement("div")
                        tempDiv.innerHTML = answerBoxTemplate(drink_id, drink, ingredients, method, sim)
                        document.getElementById("responses").appendChild(tempDiv)
                        i++
                    })
                }).then(async () => await get_likes_and_dislikes(drink_id_list))


            document.getElementById("inputcols").innerHTML = '';
            document.getElementById("user_likes").innerHTML = ''
            document.getElementById("answer-box").innerHTML = ''

        }

        //re-renders the screen ordering the results by popularity
        async function renderResultsByPop() {
            const response1 = await fetch("/dislikes?" + new URLSearchParams({ dislikes: dislikes, likes: likes }).toString(), { method: "POST" });
            const drinkDict = await response1.json();
            let drink_id_list = []
            drinkDict.forEach((drink => drink_id_list.push(drink["drink_id"])))

            const response2 = await fetch("/get_popularity?" + new URLSearchParams({ drink_id_list: drink_id_list }).toString(), { method: "POST" });
            const dict = await response2.json();
            document.getElementById("responseHeader").innerHTML = '<h2>Here are some drinks you might like!</h2>'
            let popList = dict["popularity"]
            let sortedPop = [...popList].sort()
            let i = Object.keys(drinkDict).length
            while (i > 0) {
                let idx = popList.indexOf(sortedPop.pop())
                popList[idx] = null
                let drink_id = drinkDict[idx]['drink_id']
                let drink = drinkDict[idx]['drink']
                let ingredients = drinkDict[idx]['ingredients']
                let method = drinkDict[idx]['method']
                let sim = data[i]['similarity'];
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(drink_id, drink, ingredients, method, sim)
                document.getElementById("responses").appendChild(tempDiv)
                i--
            }
            get_likes_and_dislikes(drink_id_list)
        }

        //get_likes_and_dislikes(drink_id_list) re-renders the popularity for each drink on the screen (drink_id_list)
        function get_likes_and_dislikes(drink_id_list) {
            fetch("/get_popularity?" + new URLSearchParams({ drink_id_list: drink_id_list }).toString(), { method: "POST" })
                .then((response) => response.json())
                .then((data) => {
                    for (let i = 0; i < drink_id_list.length; i++) {
                        document.getElementById(drink_id_list[i]).innerHTML = `${data['popularity'][i]}`
                    }
                })
        }

        //add_like(drink_id) makes a call to the api to add a like to drink [drink_id] in the database, rerenders the popularity onscreen for this drink, and enables/disables the dislikes/like buttons
        function add_like(drink_id) {
            like_button = document.getElementById(drink_id + "_like");
            if (like_button.classList.contains('clicked')) {
                fetch("/add_dislike?" + new URLSearchParams({ drink_id: drink_id }).toString(), { method: "POST" })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById(drink_id).innerHTML = `${data['popularity']}`
                        like_button.classList.remove('clicked');
                        document.getElementById(drink_id + "_dislike").disabled = false;

                    })
            }
            else {
                fetch("/add_like?" + new URLSearchParams({ drink_id: drink_id }).toString(), { method: "POST" })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById(drink_id).innerHTML = `${data['popularity']}`
                        like_button.classList.add('clicked');
                        document.getElementById(drink_id + "_dislike").disabled = true;
                    })
            }

        }

        //add_dislike(drink_id) makes a call to the api to add a dislike to drink [drink_id] in the database, rerenders the popularity onscreen for this drink, and enables/disables the likes/dislike buttons
        function add_dislike(drink_id) {
            dislike_button = document.getElementById(drink_id + "_dislike");
            if (dislike_button.classList.contains('clicked')) {
                fetch("/add_like?" + new URLSearchParams({ drink_id: drink_id }).toString(), { method: "POST" })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById(drink_id).innerHTML = `${data['popularity']}`
                        dislike_button.classList.remove('clicked');
                        document.getElementById(drink_id + "_like").disabled = false;
                    })
            }
            else {
                fetch("/add_dislike?" + new URLSearchParams({ drink_id: drink_id }).toString(), { method: "POST" })
                    .then((response) => response.json())
                    .then((data) => {
                        document.getElementById(drink_id).innerHTML = `${data['popularity']}`;
                        document.getElementById(drink_id + "_like").disabled = true;
                        dislike_button.classList.add('clicked');
                    })
            }
        }

        function changeSort(selectObject) {
            let value = selectObject.value;
            document.getElementById("responses").innerHTML = ''
            if (value == "popularity") renderResultsByPop()
            else renderResultsByRel()
        }

        function showReviews(id) {

            mockComments = ["This drink sucks.", "This drink is amazing! 10/10.", "Instructions are confusing"];
            document.getElementById(`${id}-show-review`).style.visibility = "hidden";
            document.getElementById(`${id}_reviews`).innerHTML = "<h2>User Reviews</h2>"
            mockComments.forEach((comment) => {
                tempDiv = document.createElement("p");
                tempDiv.innerHTML = `${comment}`;
                document.getElementById(`${id}_reviews`).appendChild(tempDiv);
            })
            hideButton = document.createElement("div");
            hideButton.innerHTML = `<button class="show-reviews" onClick="hideReviews('${id}')">Hide Reviews</button>`
            document.getElementById(`${id}_reviews`).appendChild(hideButton);

        }

        function hideReviews(id) {
            document.getElementById(`${id}_reviews`).innerHTML = '';
            document.getElementById(`${id}-show-review`).style.visibility = "visible";
        }

    </script>
</body>